In [21]:
#tuples
my_tuple = (1,"samara",2.0) #1st declaration
print(my_tuple)
first_element=type(my_tuple[0]) #2 accesing type
print(first_element)
new_tuple = my_tuple+(7,8) #3 concatination
print(new_tuple)
multiplied_tuple=my_tuple*2 #4 multiply tuples
print(multiplied_tuple)
if 2 in my_tuple: #5 checking
  print("yes exists")
length=len(my_tuple) #6 length
print(length)
for i in my_tuple: #7 iteration
  print(i)
tuple_to_list=list(my_tuple) #8 conversion lis<=>tuple
print(tuple_to_list)
list_to_tuple=tuple(tuple_to_list)
print(list_to_tuple)
my_tuple1=(1,2,3)
maximum=max(my_tuple1) #9 max and min
print(maximum)
minimum=min(my_tuple1)
print(minimum)
nested_tuple=((1,3),(5,7))  #10 nested loop
print(nested_tuple)

(1, 'samara', 2.0)
<class 'int'>
(1, 'samara', 2.0, 7, 8)
(1, 'samara', 2.0, 1, 'samara', 2.0)
yes exists
3
1
samara
2.0
[1, 'samara', 2.0]
(1, 'samara', 2.0)
3
1
((1, 3), (5, 7))